.container {
  position: absolute;
  width: 720px;
  min-height: 100px;
  border-radius: 40px;
  background: black;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}
