.nav {
  background: #1c1c21;
}

.list {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.item {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
}

.item1 {
  composes: item;
}

.item2 {
  composes: item;
  justify-content: center;
}

.item3 {
  composes: item;
  justify-content: flex-end;
}

.button {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .list {
    flex-direction: column;
  }

  .button {
    height: 50px;
  }

  .item1 {
    flex: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .item2 {
    order: -1;
  }

  .item3 {
    justify-content: center;
  }
}
